* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: #ffffff;
}
button {
  cursor: pointer;
}
button:active {
  transform: scale(0.95);
}
input:focus,
button:focus {
  outline: none;
}
header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://source.unsplash.com/0rmby-3OTeI/1600x900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  position: relative;
}
header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 7, 30, 0.8);
}
header * {
  z-index: 1;
}
header h1 {
  font-size: 4rem;
  font-weight: lighter;
  margin: 0 0 30px;
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;
}
form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}
form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #dd0426;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  padding: 13px 30px;
}
.btn {
  background-color: #bb0523;
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  padding: 4px 10px;
}
ul.songs {
  list-style-type: none;
  padding: 0;
}
ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border-left: 5px solid #dd0426;
  padding-left: 5px;
}
.container {
  margin: 30px auto;
  max-width: 100%;
  width: 700px;
}
.container h2 {
  font-weight: 100;
}
.container p {
  text-align: center;
}
.centered {
  display: flex;
  justify-content: center;
}
.centered button {
  transform: scale(1.3);
  margin: 15px;
}

@media (max-width: 600px) {
  header {
    padding: 80px 0;
  }
  header h1 {
    font-size: 2rem;
  }
  form {
    width: 380px;
    max-width: 80%;
  }
  form input {
    font-size: 14px;
    padding: 10px 25px;
    width: 100%;
  }
  form button {
    font-size: 14px;
    padding: 8px 25px;
  }
  ul.songs {
    margin: 0 auto;
    max-width: 80%;
    font-size: 14px;
  }
}
